/* CSS Document */
		    @media only screen and (max-width: 900px) {
			 header{
				 width:100%;
				 height:50px;
				 
				 background-color:#4C4C4C;
				 text-align:center;
				 padding:80px;
				 font-size:20pt;
				 position:relative;
				 
				
		 }
		  	 	header nav{
			width: 100%;
			height: 50px;
			background: #6C6363;
			position: relative;
			bottom: -48px;
			left :-80px;
		}
		
	
		header nav ul{
			margin: 0;
			padding: 0;
			list-style-type: none;		
			z-index: 1000;
			
		}
		header nav ul li{
			float: left;
			height: 50px;
			background: #555252;
			position: relative;
		}
		header nav a{
			text-decoration: none;
			display: block;
			height: 100%;
				padding-top: 2px;
			padding-left: 8px;
			padding-right: 8px;
			color: aliceblue;
		}
		header nav a:hover{
			background: aliceblue;
			color: #6C6363;
		}
		header nav ul ul li{
			float: none;
		}
		header nav ul ul{
			position: absolute;
			top:100%;
			left: 0;
			visibility: hidden;
		}
		header nav ul ul ul{
			top: 0;
			left: 100%;
		}
		header nav ul li:hover > ul{
			visibility: visible;
		}
		 	#ham-menu {
			 display:none;
		 }	
		 #ham-check{
			 display:none;
		 }
		 .small{
			 display:none;
		 }
	
		  .main1{
			 width:81%;
			 height:270px;
			  background-color:#9F9F9F;

			 
			 font-size:13pt;
			 float:left;
			 
		 }
		  #about{
			 font-size:20pt;
			 display:block;
			 width:50% ;
			 height:0%;
			 margin-left:-3px;
			 
		 }
		 		 #master{
	float:right;
	width: 220px;
	height: 220px;
	margin-right:10px;
	margin-top: 20px;
	position: relative;
	background-image: url(../images/image-a1.jpg);
	
	overflow:hidden;
}
#div1, #div2, #div3, #div4{
	width: 0px;
	height: 0px;
	position: absolute;
	transition: all .7s;
}
#div1{
	
	top: 0;
	left:-50px;
	border-top: 110px solid #978F8F;
	border-right: 110px solid transparent;
	border-left: 110px solid transparent;
	
}
#div2{
	left: -50px;
	border-top: 110px solid transparent;
	border-bottom: 110px solid transparent;
	border-left: 110px solid #645D5D;
}
#div3{
	bottom:0;
	left:-50px;
	border-bottom: 110px solid #242424;
	border-right: 110px solid transparent;
	border-left: 110px solid transparent;
}
#div4{
	right: 0;
	border-top: 110px solid transparent;
	border-bottom: 110px solid transparent;
	border-right: 110px solid #0E0B0B;
}
#master:hover #div1{
	top: -150px;
	border-top: 150px solid transparent;
}
#master:hover #div2{
	left: -150px;
	border-left: 150px solid transparent;
}
#master:hover #div3{
	bottom: -150px;
	border-bottom: 150px solid transparent;
}
#master:hover #div4{
	right: -150px;
	border-right: 150px solid transparent;
}
	.media-slider{
		display:none;
	}
		.box-1 {
			display:none;
		}
		.box-2{
			display:none;
		}
	    .slider-holder-b
        {
            width: 400px;
            height:250px;
            background-color: yellow;
           
			margin-left:15px;
            margin-top: 8px;
			
            text-align: center;
            overflow: hidden;
			border-radius:30px;
			
			
        }
	
	  .image-holder-b
        {
            width: 1200px;
            background-color: red;
            height: 250px;
            clear: both;
            position: relative;
            overflow:hidden;
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
			z-index:1;
        }
		  .slider-image-b
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
			
		
        }
		#slider-image-11:target ~ .image-holder-b
        {
            left:0;
        }
		#slider-image-22:target ~ .image-holder-b
        {
            left:-400px;
        }
       
        #slider-image-33:target ~ .image-holder-b
        {
            left: -800px;
        }
		 .button-holder-b
        {
            position: relative;
            top: -40px;
			z-index:2;
			
        }
		  .slider-change-b
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
			.box-11{
			
			float: left;
			transition: 2s;
			top:-120px;
			position:relative;
			left: 69%;
	
	
			}
			.box-11:hover{
				transform: rotate(360deg);
			}
			.box-11 img{
				width: 150px;
				height: 100px;
				border-radius: 50%;
				border: 3px solid #908A8A;
				float:left;
			}
			.box-22{
				
				float: left;
				transition: 2s;
				top:-250px;
				position:relative;
				left: 46%;
				
				
			}
			.box-22:hover{
				transform: rotate(360deg);
			}
			.box-22 img{
				width: 150px;
				height:100px;
				border-radius: 50%;
				border: 3px solid #908A8A;
				float:left;
				margin-top:10px;
				
			}
		    .small-slider{
				display:none;
			}
			.box-11s{
				display:none;
			}
			.box-22s{
				display:none;
			}
		
		  .left{
			 width:19%;
			 height:270px;
			background-color:#9AB0C4;
			font-size:10pt;
			float: left;
			padding-top:-20px;
			 box-sizing: inherit;
			 
		 }
		 .left ul{
			 margin-left:-30px;
			 margin-top:0;
			 padding-top:3px;
		 }
		 .left li{
			 list-style-type: none;
			 padding:4px;
			 padding-left:0;
			
		 }
		 .left li:hover{
			 background-color:#5A3B3B;
			 color: #F9F2F2;
		 }
		 .left a{
			 text-decoration:none;
			 color:#353232;
			 margin-left:0;
		 }
		 .left li:hover a{
			 color:#F9F2F2;
		 }
		 	  .right{
			 width:100%;
			 height:320px;
			 background-color:#A08F77;
			 text-align:center;
			 
			 font-size:24pt;
			 clear:both;
			 overflow:hidden;
			 
			 
		 }
		
		 .right-media span{
			 position:relative;
			 top:20px;
			 text-align:center;
			 left:-90px;
			 overflow:hidden;
			 clear:both;
			 width:30%;
			 
		 }
				.field{
					margin-right: 2px;
					margin-top: 2px;
					padding-bottom: 5px;
				}
		
		video{
			float:left;
			top:80px;
			left:40px;
			position:relative;
			margin-left:40px;
			overflow:hidden;
			width:40%;
		}
		#video-2{
			top:44px;
		}
		
		 
			 
	
		 	 footer{
				 width:100%;
				 
				 
				 background-color:#000000;
				 color:#F7F7F7;
				 text-align:center;
				 padding:20px;
				 font-size:24pt; 
				 clear: both;
				 position:relative;
		 }
		 footer div{
			 margin-left:-100px;
			 
			}
		 .container{
			 height: 70%;
			 width: 100%;
			 padding: 2px;
		 }
		 .container span{
			 margin: 5px;
		 }
		
			}
