
.search-container{
    width: 300px;
    height: 35px;
    position: relative;
    margin: 10px auto;

}
.search-container form{
    width: 100%;
    height: 100%;
}


.container {
    margin: 30px ;
    position:relative;
    width:400px;

}
.container input[type="text"] , .container select{
    left: 0;
    position:absolute;
    width:300px;
}
.container span{
    margin:auto 60px;
}
.container #btn{
    position:relative;
    left:-63%;

}


.container input[type="text"]:focus{
    outline: red 2px solid 	;
    font-size: 18px;
}
.container span:hover{
    color:red;
}
