/* CSS Document */

     @media only screen and (min-width: 901px){
			 header{
				 width:100%;
				 height:50px;
				 
				 background-color:#4C4C4C;
				 text-align:center;
				 padding:80px;
				 padding-left:1%;
				 font-size:24pt;
				 position:relative;
				 
				
		 }
		 	 	header nav{
			width: 2300px;
			height: 50px;
			background: #6C6363;
			position: relative;
			bottom: -43px;
			left :-19px;
		}
		
	
		header nav ul{
			margin: 0;
			padding: 0;
			list-style-type: none;		
			z-index: 1000;
			
		}
		header nav ul li{
			float: left;
			height: 50px;
			background: #555252;
			position: relative;
		}
		header nav a{
			text-decoration: none;
			display: block;
			height: 100%;
			padding-top: 2px;
			padding-left: 8px;
			padding-right: 8px;
			
			
			color: aliceblue;
		}
		header nav a:hover{
			background: aliceblue;
			color: #6C6363;
		}
		header nav ul ul li{
			float: none;
		}
		header nav ul ul{
			position: absolute;
			top:100%;
			left: 0;
			visibility: hidden;
		}
		header nav ul ul ul{
			top: 0;
			left: 100%;
		}
		header nav ul li:hover > ul{
			visibility: visible;
		}
		#ham-menu {
			 display:none;
		 }	
		 #ham-check{
			 display:none;
		 }
		 .small{
			 display:none;
		 }
	
		
		  .left{

			 width:19%;
			 height:450px;
			background-color:#9AB0C4;
			font-size:20pt;
			float: left;
			 box-sizing: inherit;
			 
		 }
		 .left ul{
			 margin-left:-20px;
		 }
		 .left li{
			 list-style-type: none;
			 padding:5px;
			 padding-left:0;
			
		 }
		 .left li:hover{
			 background-color:#5A3B3B;
			 color: #F9F2F2;
		 }
		 .left a{
			 text-decoration:none;
			 color:#353232;
			 margin-left:0;
		 }
		 .left li:hover a{
			 color:#F9F2F2;
		 }
	
		 .main1{
			 width:61%;
			 height:450px;
			 background-color:#9F9F9F;
			overflow:hidden;
			 float:left;
			 
		 }

		 .field{
			 margin-right: 20px;
			 margin-top: 20px;
			 padding-bottom: 20px;
		 }
		 
		     .slider-holder
        {
            width: 714px;
            height:400px;
            background-color: yellow;
            margin-right:50px;
			margin-left:30px;
            margin-top: 20px;
			
            text-align: center;
            overflow: hidden;
			border-radius:30px;
			
			
        }
	
	  .image-holder
        {
            width: 2145px;
            background-color: red;
            height: 400px;
            clear: both;
            position: relative;
            overflow:hidden;
            -webkit-transition: left 2s;
            -moz-transition: left 2s;
            -o-transition: left 2s;
            transition: left 2s;
			z-index:1;
        }
		  .slider-image
        {
            float: left;
            margin: 0px;
            padding: 0px;
            position: relative;
			
		
        }
		#slider-image-1:target ~ .image-holder
        {
            left: 0px;
        }
		#slider-image-2:target ~ .image-holder
        {
            left: -714px;
        }
       
        #slider-image-3:target ~ .image-holder
        {
            left: -1428px;
        }
		 .button-holder
        {
            position: relative;
            top: -40px;
			z-index:2;
			
        }
		  .slider-change
        {
            display: inline-block;
            height: 10px;
            width: 10px;
            border-radius: 5px;
            background-color: brown;
        }
		.between-slider{
			display:none;
		}
		.small-slider{
				display:none;
			}
			.box-11{
				display:none;
			}
			.box-22{
				display:none;
			}
			
			.box-11s{
				display:none;
			}
			.box-22s{
				display:none;
			}
				.box-1{
			
			float: left;
			transition: 2s;
			top:-400px;
			position:relative;
			left: 73%;
	
	
			}
			.box-1:hover{
				transform: rotate(360deg);
			}
			.box-1 img{
				width: 200px;
				height: 180px;
				border-radius: 50%;
				border: 3px solid #908A8A;
				float:left;
			}
			.box-2{
				
				float: left;
				transition: 2s;
				top:-200px;
				position:relative;
				left: 56%;
				
				
			}
			.box-2:hover{
				transform: rotate(360deg);
			}
			.box-2 img{
				width: 200px;
				height:180px;
				border-radius: 50%;
				border: 3px solid #908A8A;
				float:left;
			}
		
		 
		   .right{
			 width:20%;
			 height:450px;
			 background-color:#A08F77;
			 text-align:center;
			 
			 font-size:20pt;
			 
			 float:left;
			 
		 }
		 .right-media{
			margin-top:5px;
			padding-top:5px;
		 }
		 video{
			 margin-top:10px;
			 width:95%;
		 }
		 source{
			 width:100%;
		 }
		 footer{
				 width:100%;
				 height:300px;
				 
				 background-color:#000000;
				 color:#F7F7F7;
				 text-align:center;
				 
				 font-size:24pt; 
				 clear: both;
				 position:relative;
				 overflow:hidden;
		 }
		 .footer-left{
			 margin-top : 20px;
			 margin-left:2%;
			 float : left;
	
		 }
           .footer-right{
			 margin-top : 20px;
			 margin-right:5%;
			 float : right;
			 overflow:hidden;
	
		 }
		 #about{
			 font-size:20pt;
			 display:block;
			 width:50% ;
			 height:0;
		 }
		 #master{
	float:right;
	width: 300px;
	height: 300px;
	margin-right:30px;
	margin-top:20px;
	position: relative;
	background-image: url(../images/image-a.jpg);
	
	overflow: hidden;
}
#div1, #div2, #div3, #div4{
	width: 0px;
	height: 0px;
	position: absolute;
	transition: all .7s;
}
#div1{
	
	top: 0;
	left:-50px;
	border-top: 150px solid #978F8F;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
	
}
#div2{
	left: -50px;
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent;
	border-left: 150px solid #645D5D;
}
#div3{
	bottom:0;
	left:-50px;
	border-bottom: 150px solid #242424;
	border-right: 150px solid transparent;
	border-left: 150px solid transparent;
}
#div4{
	right: 0;
	border-top: 150px solid transparent;
	border-bottom: 150px solid transparent;
	border-right: 150px solid #0E0B0B;
}
#master:hover #div1{
	top: -150px;
	border-top: 150px solid transparent;
}
#master:hover #div2{
	left: -150px;
	border-left: 150px solid transparent;
}
#master:hover #div3{
	bottom: -150px;
	border-bottom: 150px solid transparent;
}
#master:hover #div4{
	right: -150px;
	border-right: 150px solid transparent;
}

	 }
		 