/* CSS Document */

	    @media only screen and (max-width: 600px) {
					 header{
				 width:100%;
				 
				 
				 background-color:#4C4C4C;
				 text-align:center;
				 
				 font-size:20pt;
				 position:relative;
				 
				 
		 }
	
		header nav ul li:hover > ul{
			visibility: visible;
		}
		
		.nav-main{
			 display:none;
		 }
		 	#ham-menu{
			display: block;
			width: 40px;
			height: 40px;
			background: #C27172;
			padding: 5px;
			cursor: pointer;
			top:35px;
			position:relative;
			left:-55px;
		}
		#ham-menu div{
			border-bottom: 4px solid red;
			margin-top: 5px;
		}
		#ham-check{
			display: none;
		}
				header nav ul li{
			float: left;
			height: 100%;
			background: #6C6363;
			position: relative;
			font-size: 20px;
		}
			header nav a{
			text-decoration: none;
			display: block;
			height: 100%;
		 padding: 10px 20px;
			
		}
		#ham-check:checked + nav{
			display: block;
			float: none;
			width: 120px;
			height: 350px;
			background: #6C6363;
			position: relative;
			bottom: -43px;
			left: -80px;
			overflow: hidden;
			padding:10px;
			z-index:3;
		}
	
		
	
			#ham-check:checked + a li{
			display: block;
		
		}
	

		
	
	
	
		  .main1{
			 width:100%;
			 height:270px;
			  background-color:#9F9F9F;
			
			 float:left;
			 
		 }
	
		
	
			
		.slider-holder-s
        {
            width: 400px;
            height:250px;
            background-color: yellow;
           
			margin-left:15px;
            margin-top: 8px;
			
            text-align: center;
            
			border-radius:30px;
			
			
        }
	
	.box-11{
			
			float: left;
			transition: 2s;
			top:-120px;
			position:relative;
			left: 72%;
	
	
			}
		 	.left{
			display:none;
			 width:100%;
			 height:120px;
			 background-color:red;
			 text-align:center;
			 padding-top:60px;
			 font-size:24pt;
			 float:left
			 
			 
			 
		 }
		 	  .right{
			 width:100%;
			 height:260px;
			 background-color:#A08F77;

			 text-align:center;
			 
			 font-size:18pt;
			 clear:both;
			 
			 
		 }
		 		 .right-media span{
			 position:relative;
			 top:10px;
			 text-align:center;
			 left:-80px;
			 overflow:hidden;
			 clear:both;
			 width:30%;
			 
		 }
		
		video{
			float:left;
			top:50px;
			left:5px;
			position:relative;
			margin-left:40px;
			overflow:hidden;
			width:40%;
		}
		#video-2{
			top:21px;
		}
	
		 	 footer{
				 width:100%;
				 
				 
				 background-color:#000000;
				 color: #F9F2F2;
				 text-align:center;
				 padding:10px;
				 font-size:24pt; 
				 clear: both;
				 position:relative;
		 }
		 footer div{
			 
			 
			}
		}